@font-face {
  font-family: Menlo;
  src: url(Menlo-Regular.ttf);
}

:root {
  --dark-grey: #242526;
  --bg-color: var(--dark-grey);
  --green: #26ff91;
  --green-glow: rgba(38, 255, 145, 0.5);
  --green-shadow: var(--green-glow) 0 0 18px;
  --cyan: #53ffe2;
  --cyan-shadow: var(--cyan) 0px 0px 8px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--bg-color);
  color: white;
}

/* prettier-ignore */
h1, h2, h3, h4, h5, h6 {
  /* font-family: 'Source Code Pro', monospace; */
  font-family: "VT323",monospace;
  color: var(--green);
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  font-family: "Menlo", monospace;
  color: var(--cyan);
  text-shadow: var(--cyan-shadow);
  margin: auto;
  font-size: 0.67rem;
  line-height: 0.871rem;
}

.tagline {
  color: var(--green);
  text-shadow: var(--green-shadow);
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.167rem;
}

@media only screen and (min-width: 600px) {
  .logo {
    font-size: 1rem;
    line-height: 1.3rem;
  }
  .tagline {
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
  }
}

.container {
  width: 100vw;
  padding: 4rem 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
}

h1.header {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 6rem;
}

a {
  color: var(--cyan);
  text-decoration: none;
}

a:hover {
  /* text-shadow: var(--cyan-shadow); */
  text-decoration: underline;
}

.app-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  color: var(--dark-grey);
  background-color: var(--green);
  text-align: center;
  font-weight: bold;
}

.app-button:hover {
  text-decoration: none;
  background-color: white;
}

.quick-links {
  margin-top: 1rem;
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.quick-links > a {
  color: white;
  border: 1px solid white;
  text-align: center;
  padding: 0.5rem 1rem;
}

.quick-links > a:hover {
  color: var(--dark-grey);
  background-color: white;
  text-decoration: none;
}

.new-here > h2 {
  margin: 2rem 0 0.5rem;
}

.links-container {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.links {
  margin-top: 1rem;
}

.links > h2 {
  margin: 1rem 0 0.5rem;
}

.links li {
  margin-bottom: 0.5rem;
}
